<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>HEllo Dmytro</title>
</head>
<body>
<h1>What will you say if you don't know anything... {{.}}</h1>
<p>{{template "strange" .}}</p>
</body>
</html>
