
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport</title>
</head>
<body>

<ul>
    {{range .Place}}
    <li>{{.Location}} - {{.Population}}</li>
    {{end}}
</ul>

</body>
</html>
