<title>predefined global functions</title>
<head>
<body>
{{index . 0}}
{{index . 1}}
{{index . 2}}
{{index . 3}}
{{index . 4}}
{{index . 5}}
<!--
index
a func you use in a template
it is a "predefined global functions"
-->
{{/*(index. Wisdom 3).Name*/}}
</body>
</head>
