
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport</title>
</head>
<body>
    {{range .Place}}
    {{ft .Location}}
    {{end}}

    {{range .Transport}}
    {{uc .Model}}
    {{end}}

</body>
</html>
