<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>

<body>
<ul>
    {{range $key, $val := .}}
    <li>{{$val}} - {{$key}}</li>
    {{end}}
</ul>
</body>

</html>
